.journal-nav {
	background-color: #456;
}

.journal-nav > .cluster {
	--cluster-horizontal-alignment: space-between;
	border-block-end: 0.5px solid currentColor;
}

.journal-nav a {
	display: inline-block;
	padding-block: var(--space-xs-s);
}
