.site-head__inner {
	--cluster-gap: calc(var(--gutter) / 2) 1em;
}

.logo {
	inline-size: var(--space-5xl);
	padding-block-start: var(--logo-padding);
}

.primary-nav ul {
	--cluster-gap: 1em;
	flex-wrap: nowrap;
	overflow: auto hidden;
}

.primary-nav ul {
	--n-space-s: 8px;
	--n-space-xl: 36px;

	background-image: radial-gradient(
			ellipse farthest-side at 0 50%,
			var(--separator-color) 0,
			var(--dark-bg)
		),
		radial-gradient(
			ellipse farthest-side at 100% 50%,
			var(--separator-color) 0,
			var(--dark-bg)
		);
	background-repeat: no-repeat;
	background-position: 0 calc(var(--n-space-s) / 2),
		100% calc(var(--n-space-s) / 2);
	background-size: var(--n-space-s) var(--n-space-xl),
		var(--n-space-s) var(--n-space-xl);
}

.primary-nav ul {
	isolation: isolate;
	overscroll-behavior: none;
}

.primary-nav ul::after,
.primary-nav ul::before {
	--n-space-l: 24px;
	--n-space-s: 8px;
	content: "";
	box-sizing: content-box;
	align-self: stretch;
	min-inline-size: var(--n-space-l);
	margin-block-end: 1px;
}

.primary-nav ul::before {
	padding-inline-start: 0;
	margin-inline-end: calc(-1 * var(--n-space-l) - 1em);
	rotate: 180deg;
	z-index: -1;
}

.primary-nav ul::after {
	flex: 1 1 0%;

	margin-inline-start: calc(-1 * (var(--n-space-l) + 1em + var(--gutter)));
	padding-inline-end: var(--gutter);
	z-index: -1;
}

.primary-nav ul::after,
.primary-nav ul::before {
	box-shadow: inset calc(-1 * var(--n-space-l)) 0 var(--n-space-s)
		calc(-1 * var(--n-space-s)) var(--dark-bg);
}

.primary-nav ul > li {
	flex-shrink: 0;
}

.primary-nav a {
	display: inline-block;
	padding-block: var(--gutter);
}

/* 44.125rem - the view port width at which the header wraps  */
@media (max-width: 44.125rem) {
	/* do not use min-inline-size because that will create an overflow issue */
	.primary-nav ul {
		inline-size: calc(100vw - var(--gutter));
	}

	.primary-nav ul::after {
		margin-inline-start: calc(-1 * (var(--n-space-l) + 1em));
	}
}
