{%- extends "layouts/base.html" -%}

{%- block preContent -%}
  {%- include "partials/journal-nav.html" -%}
{%- endblock -%}

{%- block content -%}
  <article class="journal-article flow">
    <header>
      <div class="wrapper stack">
        <h1>{{ title | addNbsp | safe }}</h1>
        <a
          href="#"
          class="article-category font-special fw700"
        >
          {{ category | title }}
        </a>
        <div class="article-meta cluster">
          <a
            href="#"
            class="cluster author step--2 uppercase fw700"
            data-initials="{{ author | first }}"
          >
            {{ author }}
          </a>
          <span>•</span>
          <time
            class="publish-date step--2 uppercase"
            datetime="{{ date | dump }}"
          >
            {{ date | postDate }}
          </time>
        </div>
      </div>
    </header>
    <div class="article-hero">
      <div class="wrapper">
        {% still hero.img, hero.alt, "(min-width: 63.3125rem) 960px, 95vw", "eager", "article-hero-img", "high", hero.caption %}
      </div>
    </div>
    <div class="article-body flow wrapper" data-variant="narrow">
      {% if subhead.content %}
      <div class="subhead flow">
        <p class="step-1 fw700">{{ subhead.content }}</p>
        <p class="footer step--2 uppercase fw700">
          {{ subhead.footer | safe }}
        </p>
      </div>
      {% endif %}
      {{ content | safe }}
      <hr>
      {% if dialogue %}
        <div class="dialogue flow">
          <h2>Dialogue of the Day</h2>
          <p>
            <q>{{ dialogue.line }}</q>
            <span>-</span>
            <cite>{{ dialogue.character }}</cite>
          </p>
        </div>
      {% endif %}
    </div>
    <div 
      class="article-tags wrapper cluster uppercase step--1 fw500" 
      data-variant="narrow"
    >
      <h2 class="step--1">Tags</h2>
      <ul class="cluster" role="list">
        {% for item in tag %}
          <li>
            {{ item }}
          </li>
        {% endfor %}
      </ul>
    </div>
  </article>
{%- endblock -%}