{%- extends "layouts/base.html" -%}

{%- block preContent -%}
  {%- include "partials/journal-nav.html" -%}
{%- endblock -%}

{%- block content -%}
  <article class="journal-article flow">
    <header>
      <div class="wrapper stack">
        <h1>{{ title }}</h1>
        <a
          href="#"
          class="article-category font-special step--1 fw700"
        >
          {{ category | title }}
        </a>
        <div class="article-meta cluster">
          <div class="author-container cluster">
            <div class="avatar">
              <img src="{{ author.img }}" alt="{{ author.alt }}" width="24" height="24">
            </div>
            <a
              href="#"
              class="author-name step--2 uppercase fw700"
            >
              {{ author.name }}
            </a>
          </div>
          <span>•</span>
          <time
            class="publish-date step--2 uppercase"
            datetime="{{ date | dump }}"
          >
            {{ date | postDate }}
          </time>
        </div>
      </div>
    </header>
    <div class="article-hero">
      <div class="wrapper">
        {% figure hero.img, hero.alt, "(min-width: 63.3125rem) 960px, 95vw", "eager", "article-hero-img", "high", hero.caption %}
      </div>
    </div>
    <div class="article-body flow wrapper" data-variant="narrow">
      <div class="subhead flow">
        <p class="step-1 fw700">{{ subhead.content }}</p>
        <p class="footer step--2 uppercase fw700">
          {{ subhead.footer | safe }}
        </p>
      </div>
      {{ content | safe }}
      </div>
    </div>
    <div 
      class="article-tags wrapper cluster uppercase step--1 fw500" 
      data-variant="narrow"
    >
      <h2 class="step--1">Tags</h2>
      <ul class="cluster" role="list">
        <li><a href="#">2022</a></li>        
        <li><a href="#">Year in review</a></li>
      </ul>
    </div>
  </article>
{%- endblock -%}